:root {
    --bs-primary: 	#2D6A4F;
    --bs-primary-rgb: 169, 171, 136;

    --bs-secondary: #74C69D;
    --bs-secondary-rgb: 212, 195, 161;
}

[data-bs-theme="dark"] {
    --bs-primary: 	#52B788;
    --bs-primary-rgb: 169, 171, 136;

    --bs-secondary: #40916C;
    --bs-secondary-rgb: 212, 195, 161;
}

.btn-primary{
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: 	#24523d;
    --bs-btn-hover-border-color:	#24523d;
}

.btn-danger{
    --bs-btn-bg: #973700;
    --bs-btn-border-color: #973700;
    --bs-btn-hover-bg: #772c00;
    --bs-btn-hover-border-color: #772c00;
}

.nav-container {
    padding: 1% 1% 1% 1%;
}

.navbar {
    border-radius: 5px;
    background-color: var(--bs-primary);
}