<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Name: {% block title %}{% endblock %}
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style_sheet.css') }}">
    </head>
    <body>
        <div class="container" style="padding: 10% 10% 10% 10%;">
            <div class="container">
                {% with mesasges = get_flashed_messages(with_categories=true) %}
                    {% if mesasges %}
                        {% for category, message in mesasges %}
                            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="container" style="border-color: black; border-style: solid; border-radius: 5px; padding: 5% 5% 5% 5%; background-color: #eeeeee; border-color: #efefef">{% block main %}{% endblock %}</div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>