{% extends 'dashboard_layout.html' %}

{% block title %}
    Valve Logs
{% endblock %}

{% block heading %} 
    Valve Logs
{% endblock %}

{% block table %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="align-top">Location</th>
                <th scope="col" class="align-top">Valve Number</th>
                <th scope="col" class="align-top">Status</th>
                <th scope="col" class="align-top">Date</th>
                <th scope="col" class="align-top">Time</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ log[2] }}</td>
                    <td>{{ log[3] }}</td>
                    <td>{{ log[0] }}</td>
                    <td>{{ log[1].strftime('%Y-%m-%d') }}</td>
                    <td>{{ log[1].strftime('%H:%M:%S') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}